@charset "utf-8";
@font-face {
    font-family: font;
    src: url("../Letra/RobotoCondensed-Italic.ttf");
}
*{
    font-family:font;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	
    margin-top: 0px;
    margin-right: 0px;
	margin-left: 0px;
	background-color: royalblue;
	width: 100%;

}
 header {
    background-color: black;
	width: 100%;
	
}


 footer{
	
    width: 100%;
	border-radius: initial;
    border-style:solid;
	border-radius: 20px;
	border: gray 3px solid;
	clear: both;
}
.primercont{
	margin: 5px;
	float: left;
	width: 100%;
}
.libresi{
	margin: 1% 1% 1% 1%;
	width: 35%;
	
}
 .primercont img {
	float: right;
	
  }
  .tabla{
      margin: 2% 2% 2% 2%;
      border: 1px solid;
      
      width: 450px;
  }
  .tabla td{
      text-align: center;
      border:1px solid;
  }
  .tabla2{
    margin: 2% 2% 2% 2%;
    border: 1px solid;
   
    width: 450px;
}
.tabla2 td{
    text-align: center;
    border:1px solid;
}



