html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	
    margin-top: 0px;
    margin-right: 0px;
	margin-left: 0px;
	background-color: royalblue;
	width: 100%;

}
 header {
    background-color: black;
	width: 100%;
	
}
.navcont{
	font-family: 'Montserrat', sans-serif;
}
.navcont nav{
	display: table;
	width: 100%;
	margin: 5;
	
	
}
.navcont nav ul {
 display: table-cell;
	margin: 5;

}
.navcont nav ul li {
	display: table-cell;
	width: 5% ;
	text-align: center;
	background-color: skyblue;
	border: thin solid rgb(179, 185, 186);
	
}
.navcont nav ul li a {
	text-decoration: none;
	color: black;
}
.navcont nav ul li a:hover {
	color: whitesmoke;
}

 footer{
	
    width: 100%;
	border-radius: initial;
    border-style:solid;
	border-radius: 20px;
	border: gray 3px solid;
	clear: both;
}



.primercont{
	margin: 5px;
	float: left;
	width: 100%;
}

.primercont h1{
	text-align: center;
}
 aside{
text-align: center;
}
 aside nav{
	 text-align: center;
	width: 5%;
}
 aside nav ul li a {
	text-decoration: none;
	color: black;
}

.otro{
	text-align: center;
	vertical-align: middle;
}

.libresi{
	margin: 1% 1% 1% 1%;
	width: 35%;
	
}
 .primercont img {
	float: right;
	
  }
.segundocont {
	float: left;
	width: 100%;
}
.segundocont h2 {
	text-align: center;
 }
 .segundocont p{
	 text-align: center;
 }
 #contenedor {
	text-align: left;
	width: 100%;
	
   }
   #principal {
	margin: 1% 1% 1% 1%;
	width: 30%;
	float:left;
   }

   #lateral {
	width: 60%;  /* Este será el ancho que tendrá tu columna */
	margin: 1% 1% 1% 1%;
	border-style: solid; 
	border-radius: 20px;
	background-color:rgb(109, 162, 242);  /* Aquí pon el color del fondo que quieras para este lateral */
	float:left; /* Aquí determinas de lado quieres quede esta "columna" */
   }
   #principal2 {
	margin: 1% 1% 1% 1%;
	width: 30%;
	float:left;
   }
 
  
   /* Para limpiar los floats */
   .clearfix:after {
	 content: "";
	 display: table;
	 clear: both;
   }
   /* font-family: 'Montserrat', sans-serif;*/
 

