html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	
    margin-top: 0px;
    margin-right: 0px;

background-color: royalblue;
width: 100%;

}
 header {
    background-color: black;
	width: 100%;
	
}
nav{
	display: table;
	width: 100%;
	margin: 5;
	font-family: 'Montserrat', sans-serif;
	
}
nav ul {
	display: table-row;
	margin: 5;

}
nav ul li {
	display: table-cell;
	width: 5% ;
	text-align: center;
	background-color: skyblue;
	border: thin solid rgb(179, 185, 186);
	
}
nav ul li a {
	text-decoration: none;
	color: black;
}
nav ul li a:hover {
	color: whitesmoke;
}

 footer{
	
    width: 100%;
	border-radius: initial;
    border-style:solid;
	border-radius: 20px;
	border: gray 3px solid;
	clear: both;
}
.primercont{
	float: left;
	width: 100%;
}

.libresi{
	width: 40%;
	margin:  1% 0% 1% 1%;
	
}
 .primercont img {
	float: right;
  }
.segundocont {
	float: left;
	width: 100%;
}
.segundocont h2 {
	text-align: center;
 }
 .segundocont p{
	 text-align: center;
 }
   /* font-family: 'Montserrat', sans-serif;*/
 

