footer{
    
    background-color: rgb(32, 51, 150);
    color: rgb(232, 218, 28);
    text-align: center;
    display: block; 
    position: absolute;
}
a{
	text-decoration: none;
	color: rgb(232, 218, 28);
}
a:hover{
    color: black;
}

h1{
    
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: justify;
    font-family: 'Noto Sans JP', sans-serif;
 }
